.container {
    width: 460px;
}

.date,
.clock,
.loading {
    width: 18px;
    height: 18px;
}

.utc-date,
.utc-time {
    font-size: 14px;
}

.country {
    min-width: 120px
}

.badge-custom {
    height: 27px;
}

.convert-time {
    font-size: 14px;
}

.clock-convert {
    width: 15px;
    height: 15px;
}
.ireland-time-input {
    width: 130px;
}
